include layout/header.pug

script.
	Ext.Loader.setConfig({
	enabled:true,
	disableCaching:false
	});
	Ext.require('Ext.window.MessageBox');
	var panel=new Ext.form.Panel({
		id:'panelId',renderTo:document.body,
		title:'Autorization',bodyPadding:10,
		resizable:false,width:'400px',
		closable:false,modal:true,padding:10,
		iconCls:'nav',centered:true,
		method:"post",
		items:[
			{xtype:'textfield',itemId:'login',title:'Login',region:'center',maxLength:15,minLength:3,fieldLabel:'Login',
			scale:'medium',allowBlank: false},

			{xtype:'textfield',
			inputType:'password',
			name:'password',
			fieldLabel:'Password',allowBlank: false}
		],
		buttons:[{
			text:'Send',
			scope:this,
			formBind: true, //only enabled once the form is valid
			disabled: true,
			handler:function(){
				panel.getForm().submit({
					
					success:function(form,action){
						Ext.MessageBox.alert('Авторизация пройдена');	
					},
					 failure: function(form, action){ 
						Ext.MessageBox.alert('Ошибка авторизации');
					}

				});
		}
		}]
	});
	Ext.getCmp('panelId').center();
	window.onresize=function(){
	Ext.getCmp('panelId').center();
	}
blockcontent





