include layout/header.pug

block append content
	script.
		var socket = io.connect('http://localhost:3000');
		var login='#{login}';
		Ext.onReady(function(){
			var Menu1=Ext.create('Ext.menu.Menu', {
				width:'100%',
				floating: false,
				plain:true,
				border:0,
				items: [{
					xtype:'button',
					text: 'Show tables'
				},
				{
					xtype:'button',
					text: 'Add table',
					handler:function(){
						if(win){
							win.show();
						}
						else{
							Ext.define('innerWindow',{

								extend: 'Ext.window.Window',
								title: 'Add new table',
								height: 100,
								width: 350, 
								modal: true,
								items: [{
									xtype: 'form',
									items: [
									{

										xtype: 'textfield',labelWidth: '300px',minLength:3,blankText:'Table name cannot be less 3 symbols',fieldLabelTip: 'Saksnummer',
										fieldLabel: 'Name for table',allowBlank: false,
										id: 'new_table'
									}],
									fbar: [
									{
										
										id: 'newTableName',
										
										text: 'Input name your table',
										
									},'->',{
										xtype:'button',
										text: 'Submit',
										formBind: true,
										itemId: 'submit',disabled: true,
										handler:function(){
											socket.emit('add_new_table',{username: login,tableName:Ext.getCmp('new_table').getValue()});
											socket.on('exist_t',function(data){
												Ext.getCmp('newTableName').setText(data.message);
											});	
											socket.on('added_table',function(data){
												
												/*win.getEl().fadeOut({
													easing: 'easeOut',
													endOpacity: 0,
													duration: 300,
													useDisplay: false
												});
												setTimeout(function(){},300);*/
												win.close();
											});	
										}
									}]
								}]
							});
							var win = Ext.create('innerWindow');
							win.show();
						}
					}
				},{
					xtype:'button',
					text: 'Delete all tables',
					handler:function(){
						Ext.MessageBox.confirm('Delete', 'Are you sure ?', function(btn){
							if(btn === 'yes'){
								socket.emit('delete_all',{login:login});
								socket.on('deleted_all',function(){
									this.getEl().fadeOut({
										easing: 'easeOut',
										endOpacity: 0,
										duration: 300,
										useDisplay: false
									});
									setTimeout(function(){this.close()},300);
								}
								);
							}
							else{
								this.close();
							}
						});
					}
				},
				{
					xtype:'button',
					text: 'Not done task'
				},{
					xtype:'button',
					text: 'Statistic'
				},{
					xtype:'button',
					text: 'Profile'
				}]
			});
			var menu_panel=Ext.create('Ext.panel.Panel',{
				width: '100%',
				id:'menu_panel',border:0,
				height:500,
				title:'<div style="display:flex;align-items:center;justify-content:space-between">Task Manager for '+login+'<span style="text-align:right;">You have: #{count} tables</span><form method="POST" action="/logout" class="pull-right"><button class="btn btn-sm btn-primary" type="submit", id="logout"> Logout</button></form></div>',
				layout: 'hbox',
				items: [{
					layout:'vbox',
					border:'none',
					flex:1,border:0,
					frame:false,
					items:[Menu1,form1],
					minWidth:150,
					maxWidth:400,
					unstyled: true
				},{
					title: 'Center Region',
					flex:3,     // center region is required, no width/height specified
					xtype: 'container',
					layout:'fit',
					
					items:[{border:0,
						layout: 'fit',
						xtype:'panel',
						html:'kdkjk'
					}]
					
				}],
				tools: [

					{
						type: 'help',
						handler: function(event, toolEl, panel)
						{
							if(!Ext.get('helper')){
							Ext.create('Ext.window.Window',{
								title:'TaskManager',
								width:'300px',
								id:'helper',
								height:'250px',
								html:'Hello <span style="font-size:1.43em;color:#157fcc">'+login+'</span> ! This is TaskManager for you!!!'

							}).show();}
						}
					},{

					}
				]
			});
			var form1 = Ext.create('Ext.form.Panel', {
				floating: false,
				items: [
					{
						xtype: 'textfield',
						name: 'name',
						label: 'Name'
					}
				]
			});
			
			Ext.create('Ext.container.Viewport',{
			
				items:[menu_panel]
			});
		})
			