include layout/header.pug

block append content
	.main.container
		.row
			.col-md-6.col-md-offset-3
				h1.display-4.m-b-2 Sign Up

				// register form
				form(method='POST' action='/logout')
					button.btn.btn-primary(type='submit') Sign up